*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:Arial, sans-serif;
    background:#f1f6ff;
    color:#222;
    transition:0.3s;

}



header{


    background:linear-gradient(90deg,#0066ff,#00bfff);
    color:white;
    text-align:center;
    padding:40px;

}



header h1{

    font-size:40px;

}



nav{

    background:rgb(10, 48, 119);
    padding:20px;
    text-align:center;

}



button{

    background:#0066ff;
    color:white;
    border:none;
    padding:12px 18px;
    margin:5px;
    border-radius:20px;
    cursor:pointer;

}



button:hover{

    background:#0044aa;

}



main{

    width:90%;
    max-width:1000px;
    margin:auto;
    padding:30px;

}



.conteudo{

    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px #ccc;
    margin-bottom:30px;

}



h2{

    color:#0066ff;
    margin-bottom:15px;

}



.cards{

    display:flex;
    gap:20px;
    flex-wrap:wrap;

}



.card{

    background:#dcecff;
    padding:25px;
    border-radius:15px;
    flex:1;
    min-width:250px;

}



.card h3{

    color:#0044aa;

}



footer{

    background:#003c99;
    color:rgba(255, 255, 255, 0.959);
    text-align:center;
    padding:20px;

}



/* Classe ativada pelo JavaScript */

.contraste{

    background:black;
    color:white;

}


.contraste .conteudo{

    background:#111;

}


.contraste .card{

    background:#222;

}


.contraste h2,
.contraste h3{

    color:yellow;

}body.contraste{
    background-color: black;
    color: white;
}


body.contraste header{
    background: black;
    color: yellow;
}


body.contraste nav{
    background: #222;
}


body.contraste .conteudo{
    background: #111;
    color: white;
}


body.contraste .card{
    background: #222;
    color: white;
}


body.contraste h2,
body.contraste h3{
    color: yellow;
}


body.contraste button{
    background: yellow;
    color: black;
}


body.contraste footer{
    background: black;
    color: yellow;
}